* {
    box-sizing: border-box;
}
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    padding: 0%;
    color: rgb(0, 0, 0);
  }
body {
    background-color: rgb(80, 80, 80);
}
ul.navbar {
    list-style: none;
    margin-left: 880px;
    display: flex;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 0;
}
 li.nav a {
    width: 110px;
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    height: 60px;
    padding-top: 17px;
}

li.nav a:hover{
    background-color: gray;
    text-transform: uppercase;
}


